
.nav {
  float: right;
  background-color: white;
  font-style: white italic bold;
  height: 70px;
  
}
li {
  float: right;
  margin: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

ul {
  list-style-type: disc;
  padding: 20px;
  display: flex;
  flex-direction: row;

}

.container-fluid {
  background-color: gray;
  margin: auto;
  padding: 50px;
  border-radius: 100px;
  border: 1px solid;
  display: block;

}
.card-text1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-style: italic;
}
h1 {
  font-style: italic;
  color: rgb(255, 255, 255);
  margin: 10px;
}
.knowl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  font-style: italic;
}

.skill {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  font-style: italic;
}

.front {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  font-style: italic;
}

.edu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  font-style: italic;
}

table {
  table-layout: auto;
  width: 1300px;
  background-color: white;
  border: 10px solid rgb(221, 217, 217)
  
}

td {
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
   
}

.img {
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

h2 {
  float: right;
  margin: 20px;
  padding: 50px;
  color: rgb(255, 255, 255);
  font-style: italic;
}


